@{
    // دریافت نام کنترلر و اکشن فعلی از ViewContext
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    // ساخت یک تابع کوچک محلی (Local Function) برای چک کردن وضعیت Active
    string GetActiveClass(string controller, string action)
    {
        return (currentController == controller && currentAction == action) ? "my-active" : "";
    }
}


<div class="ui-sticky ui-sticky-top">
    <div class="profile-user-info py-3 ui-box bg-white">
        <div class="profile-detail">
            <div class="d-flex align-items-center">
                <div class="profile-avatar me-3">
                    <img src="/Storage/ProfilePictures/@User.FindFirst("ProfilePicture")?.Value" alt="avatar">
                </div>
                <div class="profile-info">
                    <a asp-area="UserPanel" asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark fw-bold mb-2">
                        @{
                            string? fullName = User.FindFirst("FullName")?.Value;
                            string? showName = fullName.Trim() != "" ? fullName : User.Identity.Name;
                        }
                        @showName
                    </a>
                    <div class="text-muted fs-7 fw-bold">@User.FindFirst("Mobile")?.Value</div>
                </div>
            </div>
            <div class="user-options">
                <ul>
                    <li>
                        <span class="label">کیف پول</span>
                        <span class="detail">
                            <span class="d-block">
                                ۰ <span class="currency fs-7 fw-bold">تومان</span>
                            </span>
                            <a href="#"
                               class="link border-bottom-0 text-info fs-7 fw-bold">
                                افزایش
                                موجودی <i class="ri-arrow-left-s-line"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-items-with-icon flex-column">
            <li class="nav-item">
                <a class="nav-link @GetActiveClass("Profile", "Index")" asp-area="UserPanel" asp-controller="Profile" asp-action="Index">
                    <i class="nav-link-icon ri-account-pin-circle-line"></i>
                    ویرایش پروفایل
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @GetActiveClass("Profile", "ChangePassword")" asp-area="UserPanel" asp-controller="Profile" asp-action="ChangePassword">
                    <i class="nav-link-icon ri-lock-password-line"></i>
                    تغییر کلمه عبور
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="nav-link-icon ri-file-list-3-line"></i>
                    سفارش
                    های من
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-link-icon ri-chat-1-line"></i>
                    نظرات
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-link-icon ri-map-pin-line"></i> نشانی
                    ها
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-link-icon ri-notification-line"></i>
                    پیغام ها
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-link-icon ri-time-line"></i> بازدید
                    های
                    اخیر
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="nav-link-icon ri-user-line"></i> اطلاعات
                    حساب
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @GetActiveClass("Account", "Logout")" asp-controller="Account" asp-action="Logout">
                    <i class="nav-link-icon ri-logout-box-r-line"></i>
                    خروج
                </a>
            </li>
        </ul>
    </div>
</div>